.header {
    padding: 8px 0;
    font-size: 16px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
}

.top-bar i {
    color: orangered;
} 

.email span {
    display: inline-flex;
    margin-right: 20px;
    gap: 20px;
}

.social-icons {
    font-size: x-large;
}

.active {
    color: orangered;
}

.social-icons i {
    color: lightgray;
}

.header.social-icons a {
    margin-left: 10px;
    color: black;
    font-size: x-large;
    cursor: pointer;
    gap: 40px;
}

.social-icons :hover {
    background-color: orangered;
    transform: scale(1.05);
}

.navbar {
  border-bottom: 1px solid;
  background-color: white;
}

#navbar {
  position: sticky;
  width: 100%;
  top: 0px;
  z-index: 20;

}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 1px;
  width: 95%;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  margin-left: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin-left: 300px;
}

.nav-links li a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-links a.active1 {
    color: orangered;
}

.nav-links a.active2 {
    color: orangered;
}

.nav-links a.active3 {
    color: orangered;
}

.nav-links a.active4 {
    color: orangered;
}

.schedule-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background: black;
    color: orangered;
    font-weight: bold;
    padding: 2px 0px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    width: 170px;
    margin-right: 50px;
}

.schedule-btn:hover {
    transform: scale(1.05);
}

.schedule-btn .icon {
    background-color: orangered;
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 15px;
    justify-content: center;
}

.hero-section {
    position: relative;
    overflow: hidden;
}

.hero-img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    filter: brightness(0.8);
}

.hero-content {
    position: absolute;
    left: 330px;
    top: 180px;
    color: white;
}

.location-badge {
    display: inline-block;
    background: white;
    /* border-radius: 8px; */
    font-size: 18px;
    font-weight: 500;
    color: black;
    padding: 6px 18px;
    margin-bottom: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.location-badge .text-danger {
    font-weight: 600;
}

.featured-start {
    display: flex;
    gap: 70px;
    margin: 60px auto;
    position: relative;
}

.featuredicon {
    background-image: url(./assets/images/featured-icon.png);
    background-repeat: no-repeat;
    background-color: orangered;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 1330px;
    left: 70px;
    background-position: 25px 20px;
}



.featured img {
    width: 100%;
    border-radius: 10px;
    height: 450px;
}

.section-tag {
    color: orangered;
    margin-bottom: 10px;
}

.accordion {
    width: 90%;
    padding: 10px;
    margin: 15px 0;
    border-left: 3px solid white;
}

.accordion-body a {
    text-decoration: none;
}

.cards img {
    width: 40px;
    height: 40px;
}

.cards {
    border: 1px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    height: 470px;
}

.videoview {
    height: 400px;
    width: 100%;
    background-image: url(./assets/images/video-bg.jpg);
    background-repeat: no-repeat;
    position: relative;
    padding: 60px 150px;
}

.videoframe {
    height: 300px;
    width: 50%;
    background-image: url(./assets/images/video-frame.jpg);
    top: 260px;
    left: 350px;
    position: absolute;

}

.video-tag {
    color: orangered;
    text-align: center;
}

.videoview h2 {
    color: white;
    text-align: center;
}

.play-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: none;
    background-color: white;
    color: orangered;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 0 10px 30px black;

}

.play-btn :hover {
    background-color: red;

}

.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 250px;
    align-items: center;

}

.stat-circle {
    position: relative;
    top: -40px;
    left: 50px;
    right: 18px;
    width: 48px;
    height: 48px;
    background: orangered;
    border-radius: 50%;
    z-index: 2;
}

.stat {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #f4e3d8;
    border-radius: 20px;
    padding: 12px 16px;

}

.stat h3 {
    color: orangered;
}

/* 
.stat-dot{
    background-color: orangered;
    color: orangered;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  
} */

.container1 {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;

}

.left-section {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.label {
    color: #F16942;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 22px;
}

.deal {
    color: #222;
    font-weight: 700;
    margin-bottom: 40px;
}

.property-details {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.07);
    padding: 10px 32px;
    max-width: 320px;
}

.detail-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
    border-bottom: 1px solid #f0f0f0;
    font-size: 15px;
    color: #b2b2b2;
}

.detail-value {
    color: #222;
    font-weight: 700;
    font-size: 20px;
}

.right-section {
    flex: 1.7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 40px;
}

.button-group {
    margin-top: 150px;
    margin-left: 350px;
    margin-bottom: 32px;
    display: flex;
    gap: 30px;
}

.btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 10px;
    padding: 13px 40px;
    /* border-radius: 1px; */
    cursor: pointer;

}

.active2 {
    background: #e25649;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn-dark {
    background: rgb(42, 41, 41);
    color: #fff;
}

.property {
    display: flex;
    /* flex-direction: row; */
    gap: 38px;
}

.property-image {
    margin-left: 50px;
    margin-top: 10px;
    width: 410px;
    height: 380px;
    border-radius: 1px;
    background: #eaeaea;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.07);
}

.info-section {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}

.info-title {
    font-size: 20px;
    font-weight: 700;
    color: #222;
    margin-bottom: 18px;
    margin-top: 10px;

}

.info-desc {
    font-size: 15px;
    color: #666;
    /* margin-bottom: 16px; */
}

.btn-schedule {
    background: #242424;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 13px 34px;
    font-size: 1.07rem;
    border-radius: 30px;
    font-weight: 600;
    margin-top: 18px;
    border: none;
    cursor: pointer;
    transition: background 0.2s;
}

.btn-schedule:hover {
    background: #F16942;
}

.icon {
    display: flex;
    align-items: center;
}

.name {
    display: flex;
    color: orangered;

    justify-content: center;
}

.matter h6 {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}

.matter h5 {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
}

.villa-list {
    display: flex;
    gap: 0px;
    padding: 2px 0;
}

.villa-card {
    margin-left: 100px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.07);
    padding: 28px 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.villa-card:hover {
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.villa-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 11px;
    margin-bottom: 24px;
    background: #eaeaea;
}

.villa-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.villa-type {
    background: #f3d8cf;
    color: #a36b4f;
    font-weight: 600;
    font-size: 1.07rem;
    padding: 7px 20px;
    border-radius: 8px;
}

.villa-price {
    color: #F16942;
    font-weight: 700;
    font-size: 20px;
}

.villa-title {
    font-size: 1.35rem;
    font-weight: 700;
    color: #222;
    margin: 15px 0 18px 0;
}

.villa-info {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 30px;
    margin-bottom: 24px;
    color: #b2b2b2;
    font-size: 1.08rem;
}

.villa-info span {
    margin-bottom: 5px;
}

.villa-info b {
    color: #222;
    font-weight: 700;
}

.villa-divider {
    width: 100%;
    margin: 18px 0 22px 0;
}

.villa-btn {
    display: flex;
    font-size: 15px;
    border-radius: 40px;
    background-color: black;
    color: white;
    margin-left: 80px;
    padding: 10px 30px;
}

.contact-section {
    text-align: center;
    padding: 50px 20px;
    color: white;
}

.title {
    background-image: url(./assets/images/contact-bg.jpg);
    height: 400px;
    width: auto;
    padding: 60px 160px;
}

.sub-title {
    color: orangered;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

iframe {
    height: 350px;
    width: 600px;
    border-radius: 10px;
}

.form {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    width: 100%;
    margin-top: 140px
}

.form input,
.form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    font-size: 14px;
    background-color: lightgray;
}

.submit {
    background-color: black;
    color: white;
    border-radius: 20px;
    transform: scale(1.05);
}

.info-boxes {
    display: inline-flex;
    align-items: normal;
    gap: 20px;
    justify-content: space-around;
    margin: 10px;
    margin-right: 400px;
    margin-top: 300px
}

.info {
    background: #af6969;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
}

.info p {
    margin: 0;
    font-size: 14px;
    color: black;
}

.info strong {
    display: block;
    font-size: 16px;
    color: black;
}

footer {
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    padding: 10px;
    width: 100%;
}

.head {
    background-image: url(./assets/images/page-heading-bg.jpg);
    height: 400px;
}

.propertyheader {
    align-items: center;
    padding: 150px 550px;
    color: white;
}

.propertyheader p {
    background-color: white;
    color: black;
    align-items: center;
    width: 150px;
    text-align: center;
    padding: 10px;
    font-size: 10px;
    margin-left: 30px;
}

.propertyheader h2 {
    margin-left: 10px;
    font-weight: 900;
}

.button {
    margin: 20px auto;
    padding: 20px 450px;
}

.house {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 6px 8px;
    border: none;
}

.active {
    background-color: orangered;
    color: white;
    padding: 6px 8px;
    border-radius: 5px;
    border: none;
}

.number {
    margin: 20px auto;
    padding: 20px 580px;

}


.num {
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 6px 8px;
    border: 1px solid black;
    text-align: center;

}

.num1 {
    background-color: orangered;
    color: white;
    border-radius: 50%;
    padding: 6px 8px;
    border: 1px solid orangered;
    text-align: center;
}

.property-detail {
    margin: 50px;
    display: flex;
}

.proper img {
    width: 700px;
    height: 400px;
    margin-left: 40px;
}

.proper p {
    margin: 30px;
    background-color: lightpink;
    width: 100px;
    text-align: center;
    padding: px 20px;
}

.proper h3 {
    margin: 30px;
}

.cards1 {
    border: 1px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    height: 430px;
    padding: 10px 20px;
    gap: 200px;
    margin-left: 150px;
}

.best {
    padding: 0px 100px;
}

.cards1 img {
    width: 40px;
    border-radius: 10px;
    height: 40px;
}

.property-left {
    margin: 90px;
    width: 50%;
}

.property-tag1 {
    color: orangered;
    margin-bottom: 1px;
}

.accordion {
    width: 90%;
    padding: 10px;
    margin: 15px 0;
    border-left: 3px solid white;
}

#active {
    color: orangered;
}

.contact-table {
    margin: 60px;
}

.contact-table1 {
    display: flex;
    gap: 150px;
}

.contact-title .tag {
    color: orangered;
}

.info-box {
    border-radius: 1px solid;
    padding: 10px 20px;
    margin-top: 75px;
    justify-content: space-between;
    align-items: center;

}

.info-item {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    box-shadow: 0 8px 2px rgba(0, 0, 0, 0.1);
    width: 200px;
    border-radius: 10px;
    background-color: white;
    margin: 20px;

}

.info-item img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
}

.form1 {
    background: whitesmoke;
    width: 30%;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
}


.form1 form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 13px;

}

.submit1 {
    background-color: black;
    color: white;
    width: 150px;
    border-radius: 12px;
    font-size: large;
    align-items: center;
    text-align: center;
    margin-left: 100px;
}

.googlemap {
    height: 400px;
    width: 100%;
    border-radius: none;
}